body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body * {
    box-sizing: border-box;
}

.app {
    background: #9fc1c1;
    min-height: 100vh;
    padding: 20px 10px;

    @media only screen and (min-width: 576px) {
        padding: 20px 40px;
    }
}

.header {
    vertical-align: middle;
    height: 50px;
}

h1 {
    margin: 0;
    font-size: 24px;
    @media only screen and (min-width: 576px) {
        font-size: 30px;
    }
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 90px);
}
